<!DOCTYPE html>
<html lang="pt-br">

<header>
	<meta charset="utf-8">
	<title> Titulo </title>
</header>

<body>
	<h2> Cadastro de Cliente </h2>
	<form action="../Controller/C_CadastrarCliente.php" method="post">
		CPF:<input type="text" name="cpf" ><br>
		Nome:<input type="text" name="nome"><br>
		Atributo:<input type="text" name="atributo"><br>
		
		Vida:<input type="text" name="cpf" disabled><br>
		Mana:<input type="text" name="cpf" disabled><br>
		Dano:<input type="text" name="cpf" disabled><br>
		
		Força:<input type="text" name="cpf" disabled><br>
		Agilidade:<input type="text" name="cpf" disabled><br>
		Inteligencia:<input type="text" name="cpf" disabled><br>
		Armadura:<input type="text" name="cpf" disabled><br>
		VelocidadeDeAtq:<input type="text" name="cpf" disabled><br>
		
		
		<input type="submit" value="enviar">
		<input type="reset" value="apagar">
	</form>

</body>

</html>
