<!DOCTYPE html>
<html lang="pt-br">

<header>
	<meta charset="utf-8">
	<title> HeroNome </title>
</header>

<body>
	<h2> Consultar Cliente </h2>
	<form action="../Controller/C_AlterarCliente2.php" method="post">
		CPF:<input type="text" name="cpf"><br>
		Nome:<input type="text" name="nome"><br>
		Atributo:<input type="text" name="atributo" ><br>
		
		Vida:<input type="text" name="vida" disabled><br>
		Mana:<input type="text" name="mana" disabled><br>
		Dano:<input type="text" name="dano" disabled><br>
		
		Força:<input type="text" name="forca" disabled><br>
		Agilidade:<input type="text" name="agilidade" disabled><br>
		Inteligencia:<input type="text" name="inteligencia" disabled><br>
		Armadura:<input type="text" name="armadura" disabled><br>
		VelocidadeDeAtq:<input type="text" name="velocidadeAtq" disabled><br>
		
		<input type="submit" value="enviar">
		<input type="reset" value="apagar">
		
	</form>
	


</body>

</html>
